<div class="cont">
    <nav class="navbar">
        <div class="content">
          <div class="logo">
            <a href="index.html"><img class="sustituidaModificada" id="sustituidaModificada"></a>
          </div>
          <ul class="menu-list">
            <div class="icon cancel-btn">
              <i class="fas fa-times"></i>
            </div>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="#team">Nosotros</a></li>
            <li><a href="#work">Trabajos</a></li>
          </ul>
          <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
          </div>
        </div>
    </nav>
</div>