.contenido-principal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    background-color: #0E0B1E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*BARRA DE NAVEGACION*/
.header {
    background-color: #0E0B1E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    padding: 5px 10%;
}
.header .logo {
    margin-right: auto;
}
.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}
.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 24px;
    color: #eceff1;
    text-decoration:none;
}
.header .nav-links a:hover {
    color: #6A68EF;
    text-decoration:none;
}
.header .btn button{
    margin-left: 20px;
    font-size: 20px;
    color: #eceff1;
    padding: 9px 25px;
    background: radial-gradient(circle, rgba(126, 95, 226, 1) 0%, rgba(58, 126, 234, 1) 50%, rgba(76, 159, 217, 1) 100%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration:none;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #eceff1;
    transform: scale(1.1);
}

/*GUIA DE JUEGO*/
.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-content {
    font-size: 19px;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 1; 
    width: 650px; 
    height: 600px;

    top: 100%;
    left: 120.5%;
    pointer-events: none;

    box-shadow: 0 0 10px #f3f3f3d4;
    padding: 2rem 2rem;
    border-radius: 10px;

    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .tooltip-container:hover .tooltip-content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .tool-titulo{
    color: #C04BF2;
    font-size: 27px;
    margin-left: 2%;
    font-style: italic;
    font-weight: bold;
   }
   .list{
       color: #7df2fce0;
       font-size: 20px;
       font-weight: bold;
   }
   .tool-cont{
    margin-left: 6%;
    margin-right: 7%;
    margin-bottom: 1%;
    margin-top: 1%
   }

  .lista-ul{
    list-style-type: square;
    list-style-position: inside;
   }
   /*BODY*/

   
/*MEDIA SCREEN*/
@media screen and (max-width: 800px){
    .header .btn button{
        margin-left: 0px;
        font-size: 20px;
        padding: 3px 25px;
    }
    .header {
        padding: 4px 0;
    }
    .header .nav-links li {
        margin-top: 10px;
        margin-left: 10px;
        padding: 0 10px;
    }
    .header .logo {
        margin-left: 20px;
    }
}
@media screen and (max-width: 400px){
    .header .btn button{
        margin-left: 0px;
        font-size: 20px;
        padding: 3px 25px;
    }
    .header {
        padding: 4px 0;
    }
    .header .nav-links li {
        margin-top: 10px;
        margin-left: 15px;
        padding: 0 10px;
    }
    .header .logo {
        margin-left: 10px;
    }
}
@media screen and (max-width: 300px){
    .header .btn button{
        font-size: 20px;
        padding: 2px 2px;
    }
    .header {
        padding: 2px 2px;
    }
    .header .nav-links li {
        margin-top: 10px;
        padding: -1px 1px;
        font-size: 5px;
    }
    .header .logo {
        margin-left: 1px;
    }
   .nav-links{
        padding: 0 5px;
    }
    .header .nav-links a {
        font-size: 18px;
    }
    .header .logo {
        margin-left: 5px;
    }
}
main {
    height: 650px;
    position: relative;
    overflow: hidden;
}

main .contenido {
    display: flex;
    width: 80%;
    margin: auto;
    height: 640px;
    align-items: center;
    justify-content: space-between;
}

.textos-header {
    width: 50%;
}

.textos-header h1 {
    font-size: 60px;
    color: #6A68EF;
}

.textos-header h2 {
    margin-bottom: 20px;
    color: #bdbddd;
}

main img {
    width: 550px;
    position: relative;
}

main .textos-header a {
    font-size: 20px;
    display: inline-block;
    margin-top: 10%;
    margin-right: 5%;
    padding: 10px 0;
    width: 150px;
    text-decoration: none;
    border: 1px solid #6A68EF;
    text-align: center;
    border-radius: 20px;
    color: white;
}

#bnt1 {
    background: radial-gradient(circle, rgba(126, 95, 226, 1) 0%, rgba(58, 126, 234, 1) 50%, rgba(76, 159, 217, 1) 100%);
}

.conte-isla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10%;
}

.conte-isla .Item {
    background-color: rgba(141, 141, 141, 0.334);
    text-align: center;
    padding: 35px;
    color: aliceblue;
    border-radius: 25px;
}

.conte-isla div {
    background-color: rgba(255, 255, 255, 0.781);
    text-align: center;
    padding: 10px;
}

.i-content{
    position: absolute;
    top: 10vh;
    left: 5vw;
    background-color: rgba(141, 141, 141, 0.334);
    text-align: center;
    padding: 35px;
    color: aliceblue;
    border-radius: 25px;
    overflow: hidden;
}

.i-width{
    width: 90vw;
    height: 90vw;
}

.i-height{
    width: 90vh;
    height: 90vh;
}

.abs{
    position: absolute;
    z-index: 200;
}

.info{
    right: 38vw;
    top: 10vh;
    margin-right: -2%;
}

.act{
    right: 48vw;
    top: 10vh;
}
.modal-content{ 
background-color: #0E0B1E;
color: white;
}
.btn-close{
    background-color: #bdbdddb3;
}
.btn-outline-primary{
    --bs-btn-color: white;
    --bs-btn-border-color: #3CC4FF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9673FF;
    --bs-btn-hover-border-color: #5194D8;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9673FF;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.btn--banner{
    margin-bottom: 12vh;
    margin-right: 25vh;
    z-index: 302;
    right: 2vw;
    bottom: 1vh;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5194D8;
    --bs-btn-border-color: #5194D8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9673FF;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9673FF;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
th, td{
    color: #fff;
}
.title{
    color:#9673FF;
}
.table{
    --bs-table-hover-color: #05F2C7;
}
.form-control{
    background-color: #0E0B1E;
    border: 1px solid #05F2C7;
}

input{
    margin-left: 10%;
    width: 80%;
    color: white;
}
label{
   margin-left: 15%;
}
.form-control:focus {
    color: white;
}


/* Style the tab */
.tab {
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9673FF;
    min-width: 100px;
    text-align: center;
    color: #eceff1;
    border-radius: 5px 5px 0 0;
    margin-left: 0.5%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #5194D8;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #5194D8;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.banner{
    position: absolute;
    width: 100vw;
    height: 90vh;
    background-color: #0E0B1E;
    opacity: 0.8;
    top: 10vh;
    left: 0px;
    z-index: 300;
}

.gameover{
    position: absolute;
    width: 55vw;
    top: 20vh;
    left: 20vw;
    z-index: 301;
}
.game{
    position: absolute;
    width: 90vw;
    top: 24vh;
    left: 5vw;
    z-index: 301;
}

.right{
    text-align: right;
}

.btn-act-men{
    font-size: x-large;
    width: 3vw;
    height: 3vw;
}

.info-panel{
    position: absolute;
    top: 20vh;
    right: 5vw;
    z-index: 400;//300
}