<div class="contenido-principal">
  <header class="header">
    <div class="logo">
      <div class="tooltip-container">
        <span class="tooltip-trigger"><img src="assets/logg/logg/logo_op1.png" alt="Logo de la marca" class="activador-tooltip"></span>
        <div class="tooltip-content">
          <span class="tool-titulo">Objetivo:</span>
          <div class="tool-cont">
            Hacer progresar tu isla desde 0, usando los recursos disponibles y maximizando los indicadores económicos en pocos turnos.
          </div>
          <span class="tool-titulo">Acciones disponibles:</span>
          <div class="tool-cont">
            <ul class="lista-ul">
              <li>
               <span class="list"> Inversión en Infraestructura:</span> Aumenta población y producción de alimentos en 1 unidad.
              </li>
              <li>
                <span class="list">Inversión en Infraestructura:</span> Aumenta población y producción de alimentos en 1 unidad.
              </li>
              <li>
                <span class="list">Inversión en Educación:</span> Invirtiendo en Tecnología.
              </li>
              <li>
                <span class="list"> Inversión Interna:</span> Produce 0.5 de dinero por punto invertido.
              </li>
              <li>
                <span class="list"> Inversión en Tecnología:</span> Mejora la capacidad para invertir en lo militar (consume 1 alimento).
              </li>
              <li>
                <span class="list">Inversión Militar:</span> Defiende tu isla de ataques.
              </li>
              <li>
                <span class="list">Inversión en Servicios:</span> Genera alimentos y crea relaciones con otros países.
              </li>
            </ul>
          </div>  
        </div>
    </div>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/guiadejuego">Guia de Juego</a></li>
      </ul>
    </nav>
    <a class="btn"><button (click)="newGame()">New Game</button></a>
  </header>
 <div class="i-content" [ngStyle]="{'margin-left': center + 'px'}" [ngClass]="{'i-width': orientation, 'i-height': !orientation}">
    <app-isla [status]="isla"></app-isla>
    <button type="button" class="btn btn-outline-primary abs info btn-lg" data-bs-toggle="modal" data-bs-target="#actions_modal">Informacion</button>
    <button type="button" class="btn btn-outline-primary abs act btn-lg" data-bs-toggle="modal" data-bs-target="#info_modal">Acciones</button>
  </div>

</div>

<div class="modal modal-dialog modal-lg fade" id="actions_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Turno: <span class="badge bg-secondary">{{ isla.turno }}</span></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="tab">
        <button class="tablinks" (click)="openCity($event, 'InfBas')">Informacion</button>
        <button class="tablinks" (click)="openCity($event, 'Inver')">Inversion</button>
        <button class="tablinks" (click)="openCity($event, 'Produc')">Produccion</button>
      </div>
      
      <div id="InfBas" class="tabcontent">
        <h3>Informacion Basica</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">Poblacion</th>
              <td>{{ isla.poblacion }}</td>
            </tr>
            <tr>
              <th>Dinero</th>
              <td>{{ isla.dinero }}</td>
            </tr>
            <tr>
              <th>Dinero Excedente</th>
              <td>{{ isla.reservas_dinero}}</td>
            </tr>
            <tr>
              <th>Recursos Naturales</th>
              <td>{{ isla.recursos_naturales }}</td>
            </tr>
            <tr>
              <th>Recursos Naturales Excedente</th>
              <td>{{ isla.reservas_recursos}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div id="Inver" class="tabcontent">
        <h3>Inversion</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">Infraestructura</th>
              <td>{{ isla.inversion.infraestructura }}</td>
            </tr>
            <tr>
              <th>Educacion</th>
              <td>{{  isla.inversion.educacion}}</td>
            </tr>
            <tr>
              <th>Interna</th>
              <td>{{  isla.inversion.inversion_interna }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div id="Produc" class="tabcontent">
        <h3>Produccion interna</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">Alimentos</th>
              <td>{{ isla.inversion.produccion_interna.alimentos }}</td>
            </tr>
            <tr>
              <th>Tecnologia</th>
              <td>{{  isla.inversion.produccion_interna.tecnologia}}</td>
            </tr>
            <tr>
              <th>Militar</th>
              <td>{{  isla.inversion.produccion_interna.militar }}</td>
            </tr>
            <tr>
              <th>Servicios</th>
              <td>{{  isla.inversion.produccion_interna.servicios }}</td>
            </tr>
            <tr>
              <th>Alimentos Excedentes</th>
              <td>{{  isla.inversion.produccion_interna.alimentos_ex }}</td>
            </tr>
            <tr>
              <th>Tecnologia Excedentes</th>
              <td>{{  isla.inversion.produccion_interna.tecnologia_ex }}</td>
            </tr>
            <tr>
              <th>Militar Excedentes</th>
              <td>{{  isla.inversion.produccion_interna.militar_ex }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal modal-dialog modal-lg fade" id="info_modal" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Acciones</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <div class="row">
            <div class="col right">
              <br><button (click)="upval(0, -1)" class="btn btn-primary btn-act-men">-</button>
            </div>
            <div class="col">
          <label class="form-label">Inversion en Infraestructura</label>
          <input [(ngModel)]="actions.Infraestructura" type="number" min="0" max="10" class="form-control">
        </div>
        <div class="col">
          <br><button (click)="upval(0, 1)" class="btn btn-primary btn-act-men">+</button>
        </div>
      </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col right">
              <br><button (click)="upval(1, -1)" class="btn btn-primary btn-act-men">-</button>
            </div>
            <div class="col">
          <label class="form-label">Inversion en Educacion</label>
          <input [(ngModel)]="actions.educacion" type="number" min="0" max="10" class="form-control">
        </div>
        <div class="col">
          <br><button (click)="upval(1, 1)" class="btn btn-primary btn-act-men">+</button>
        </div>
      </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col right">
              <br><button (click)="upval(2, -1)" class="btn btn-primary btn-act-men">-</button>
            </div>
            <div class="col">
          <label class="form-label">Inversion Interna</label>
          <input [(ngModel)]="actions.inversion_interna" type="number" min="0" max="10" class="form-control">
        </div>
        <div class="col">
          <br><button (click)="upval(2, 1)" class="btn btn-primary btn-act-men">+</button>
        </div>
      </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col right">
              <br><button (click)="upval(3, -1)" class="btn btn-primary btn-act-men">-</button>
            </div>
            <div class="col">
          <label class="form-label">Inversion en Tecnologia</label>
          <input  [(ngModel)]="actions.tecnologia" type="number" min="0" max="10" class="form-control">
        </div>
        <div class="col">
          <br><button (click)="upval(3, 1)" class="btn btn-primary btn-act-men">+</button>
        </div>
      </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col right">
              <br><button (click)="upval(4, -1)" class="btn btn-primary btn-act-men">-</button>
            </div>
            <div class="col">
          <label class="form-label">Inversion en Militar</label>
          <input  [(ngModel)]="actions.militar" type="number" min="0" max="10" class="form-control">
        </div>
        <div class="col">
          <br><button (click)="upval(4, 1)" class="btn btn-primary btn-act-men">+</button>
        </div>
      </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col right">
              <br><button (click)="upval(5, -1)" class="btn btn-primary btn-act-men">-</button>
            </div>
            <div class="col">
          <label class="form-label">Inversion en Servicios</label>
          <input  [(ngModel)]="actions.servicios" type="number" min="0" max="10" class="form-control">
        </div>
        <div class="col">
          <br><button (click)="upval(5, 1)" class="btn btn-primary btn-act-men">+</button>
        </div>
      </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#info_modal" data-bs-toggle="modal" (click)="terminarTurno()">Terminar Turno</button>
      </div>
    </div>
  </div>
</div>
<!---->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn--banner abs btn-lg" data-bs-toggle="modal" data-bs-target="#info" *ngIf="startgame">
  Registro de Conquistadores
</button>

<!-- Modal -->
<div class="modal" id="info" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content2">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Nombre</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/assets/frases/mundo.png" class="img-registro">
        <input type="text" class="for-control" placeholder="Nombre del Conquistador" aria-label="Username">
 
      </div>
      <div class="modal-footer">
        <button class="btn Reg-button"  (click)="saveData()">Registro</button>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="banner" *ngIf="banner"></div>
<img *ngIf="isla.victoria" src="assets/game/binev.png" class="game" alt="" srcset="">
<img *ngIf="startgame" src="assets/game/win.png" class="game" alt="" srcset="">
<img *ngIf="!isla.isla_viva" src="assets/game/gameover.png" class="gameover" alt="" srcset="">
<button type="button" class="btn btn-outline-primary btn--banner abs btn-lg" data-bs-toggle="modal" data-bs-target="#actions_modal" *ngIf="!isla.isla_viva || isla.victoria">Informacion</button>