<div class="contenido-principal">
    <header class="header">
        <div class="logo">
          <a routerLink="/" class="back-button">
            <div class="arrow"></div></a>
        </div>
        <nav>
          <ul class="nav-links">
            <li class="guia">Ranking</li>
          </ul>
        </nav>
      </header>
        <img src="/assets/TITULOS/victoria.png" class="img-tit">
        <table class="table table-hover table-dark table-tam">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
</div>
