.contenido-principal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    background-color: #0E0B1E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header {
    background-color: #0E0B1E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 5px 10%;
    position: fixed; /* Cambio de static a fixed */
    z-index: 10;
  }
  .header .logo {
    margin-right: auto;
  }
  .header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
  }
  
  .header .logo img:hover {
    transform: scale(1.2);
  }
  .header .nav-links {
    list-style: none;
  }
  
  .header .nav-links li {
    display: inline-block;
    padding: 0 20px;
  }
  .header .nav-links li:hover{
    transform: scale(1.1);
  }
  
  .guia{
    font-size: 30px;
    color: white;
    background-image:  radial-gradient(circle, rgba(126, 95, 226, 1) 0%, rgba(58, 126, 234, 1) 50%, rgba(76, 159, 217, 1) 100%);
    background-size: 600% 100%;
    color: transparent;
    background-clip: text;
    animation: rainbow-animation 4s linear infinite;
  }
  
  .back-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: radial-gradient(circle, rgba(126, 95, 226, 1) 0%, rgba(58, 126, 234, 1) 50%, rgba(76, 159, 217, 1) 100%);
    background-size: 600% 600%;
    color: transparent;
    background-position: 0% 50%;
    animation: rainbow-animation 8s linear infinite;
  }
  .back-button:hover {
    transform: scale(1.1);
  }
  .arrow {
    width: 20px;
    height: 20px;
    border-left: 7px solid #fff;
    border-bottom: 7px solid #fff;
    transform: rotate(49deg);
  }
  
  @keyframes rainbow-animation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
.img-tit{
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;

}
.table-tam{
    width: 1000px;
    margin-left: 18%;
}

.pagination {
  margin-top: 30px;
  text-align: center;
  position: fixed;

  .btn-link {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}