.btn-action{
    min-width: 6vh;
    height: 6vh;
    margin: 4px;
}

.main-container{
    padding: 5px;
    padding-left: 10px;
    border-radius: 3px;
    overflow: visible;
}

.action{
    position: relative;
}

.badge{
    position: relative;
    right: 0px;
    top: 0px;
    margin-top: 1.5vh;
}

.act-icon{
    width: 4vh;
    padding: 5px;
    display: block;
}