<div class="main-container">
    <div class="action row">
        <div class="col">
            <button class="btn btn btn-dark btn-action" (click)="add(1)">
                <img *ngIf="md" src="assets/iconos/controles/transparent/2.png" class="act-icon" srcset="">
                <p *ngIf="!md">Infraestructura</p>
            </button>
        </div>
        <div class="col" (click)="rem(1)">
            <span *ngIf="infra > 0" class="badge bg-danger">
                <h5>+ {{ infra }}</h5>
            </span>
        </div>
    </div>
    <div class="action row">
        <div class="col">
            <button class="btn btn btn-dark btn-action" (click)="add(2)">
                <img *ngIf="md" src="assets/iconos/controles/transparent/1.png" class="act-icon" srcset="">
                <p *ngIf="!md">Educacion</p>
            </button>
        </div>
        <div class="col" (click)="rem(2)">
            <span *ngIf="edu > 0" class="badge bg-danger">
                <h5>+ {{ edu }}</h5>
            </span>
        </div>
    </div>
    <div class="action row">
        <div class="col">
            <button class="btn btn btn-dark btn-action" (click)="add(3)">
                <img *ngIf="md" src="assets/iconos/controles/transparent/7.png" class="act-icon" srcset="">
                <p *ngIf="!md">Inversion interna</p>
            </button>
        </div>
        <div class="col" (click)="rem(3)">
            <span *ngIf="interno > 0" class="badge bg-danger">
                <h5>+ {{ interno }}</h5>
            </span>
        </div>
    </div>
    <div class="action row">
        <div class="col">
            <button class="btn btn btn-dark btn-action" (click)="add(4)">
                <img *ngIf="md" src="assets/iconos/controles/transparent/4.png" class="act-icon" srcset="">
                <p *ngIf="!md">Tecnologia</p>
            </button>
        </div>
        <div class="col" (click)="rem(4)">
            <span *ngIf="tec > 0" class="badge bg-danger">
                <h5>+ {{ tec }}</h5>
            </span>
        </div>
    </div>
    <div class="action row">
        <div class="col">
            <button class="btn btn btn-dark btn-action" (click)="add(5)">
                <img *ngIf="md" src="assets/iconos/controles/transparent/3.png" class="act-icon" srcset="">
                <p *ngIf="!md">Militar</p>
            </button>
        </div>
        <div class="col" (click)="rem(5)">
            <span *ngIf="mili > 0" class="badge bg-danger">
                <h5>+ {{ mili }}</h5>
            </span>
        </div>
    </div>
    <div class="action row">
        <div class="col">
            <button class="btn btn btn-dark btn-action" (click)="add(6)">
                <img *ngIf="md" src="assets/iconos/controles/transparent/5.png" class="act-icon" srcset="">
                <p *ngIf="!md">Servicios</p>
            </button>
        </div>
        <div class="col" (click)="rem(6)">
            <span *ngIf="serv > 0" class="badge bg-danger">
                <h5>+ {{ serv }}</h5>
            </span>
        </div>
    </div>
    <div class="action row">
        <div class="col">
            <button class="btn btn btn-dark btn-action" (click)="terminarTurno()">
                <img *ngIf="md" src="assets/iconos/controles/transparent/6.png" class="act-icon" srcset="">
                <p *ngIf="!md">Play</p>
            </button>
        </div>
    </div>
</div>