<!--ISLA-->
<div class="objeto" [ngStyle]="{'top': 55 + 'vh', 'left': 0 + 'vw'}" *ngIf="status.tecnologia > 1"><!-- La posicion del objeto se maneja desde este contenedor -->
    <img [ngStyle]="{'width': 85 + 'vw','height': 65 + 'vh' }" src="assets/edad1/isla.png" alt="" srcset=""><!-- El tamano y dimensiones del objeto se controla desde el img -->
</div>
<!--ISLA pequeña-->
<div class="objeto-isla" [ngStyle]="{'top': -55 + 'vh', 'left': 35 + 'vw'}" *ngIf="status.tecnologia > 1"><!-- La posicion del objeto se maneja desde este contenedor -->
    <img [ngStyle]="{'width': 10.5 + 'vw','height': 9.5 + 'vh' }" src="assets/edad1/isla.png" alt="" srcset=""><!-- El tamano y dimensiones del objeto se controla desde el img -->
</div>
<!--CUEVA-->
<div class="objeto-cueva" [ngStyle]="{'top': -37 + 'vh', 'left': -5.5 + 'vw'}" *ngIf="status.infra > 1"><!-- La posicion del objeto se maneja desde este contenedor -->
    <img [ngStyle]="{'width':status.infra*5 + .5 + 'vw','height':status.infra*5 +1 + 'vh' }" src="assets/edad1/cueva.png" alt="" srcset=""><!-- El tamano y dimensiones del objeto se controla desde el img -->
</div>
<!--Fuego-->
<div class="objeto-fuego" [ngStyle]="{'top': -47.5 + 'vh', 'left': -28 + 'vw'}" *ngIf="status.tecnologia > 3"><!-- La posicion del objeto se maneja desde este contenedor -->
    <img [ngStyle]="{'width': 22.5 + 'vh'}" src="assets/edad1/fuego.png" alt="" srcset=""><!-- El tamano y dimensiones del objeto se controla desde el img -->
</div>
<!--LANZA-->
<div class="objeto-lanza" [ngStyle]="{'top': -62.5 + 'vh', 'left': 10 + 'vw'}" *ngIf="status.tecnologia > 5"><!-- La posicion del objeto se maneja desde este contenedor -->
    <img [ngStyle]="{'width': 20 + 'vh'}" src="assets/edad1/lanza.png" alt="" srcset=""><!-- El tamano y dimensiones del objeto se controla desde el img -->
</div>
<!--Pieles-->
<div class="objeto-pieles" [ngStyle]="{'top': -63.5 + 'vh', 'left': 32.5 + 'vw'}" *ngIf="status.tecnologia > 7"><!-- La posicion del objeto se maneja desde este contenedor -->
    <img [ngStyle]="{'width': 20 + 'vh'}" src="assets/edad1/pieles.png" alt="" srcset=""><!-- El tamano y dimensiones del objeto se controla desde el img -->
</div>
<!--Pinturas-->
<div class="objeto-pinturas" [ngStyle]="{'top': -80.5 + 'vh', 'left': 25 + 'vw'}" *ngIf="status.tecnologia > 9"><!-- La posicion del objeto se maneja desde este contenedor -->
    <img [ngStyle]="{'width': 15 + 'vh'}" src="assets/edad1/pintura.png" alt="" srcset=""><!-- El tamano y dimensiones del objeto se controla desde el img -->
</div>
