.objeto {
    position: absolute;
    width: fit-content;
}

.objeto-isla {
    top: 0vh;
    right: 0vw;
    z-index: 102;
}
.objeto-dinero {
    top: 0vh;
    right: 0vw;
    z-index: 103;
}
.objeto-cueva {
    top: 0vh;
    right: 0vw;
    z-index: 101;
}
.objeto-fuego {
    z-index: 102;
}
.objeto-lanza {
    z-index: 103;
}
.objeto-pieles {
    z-index: 104;
}
.objeto-pinturas {
    z-index: 105;
}
.objeto-poblacion {
    z-index: 106;
}

.container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}