<div class="cont-info" *ngIf="md">
    <div class="titulo">
    <h1 class="titul">Informacion</h1>
    <p class="turno">Turno: <span class="badge bg-secondary">{{ status.turno }}</span></p>
    </div> 
    <div class="grid-container">
        <div class="item">
            <img src="/src/assets/ICONOS/controles/backgroud"class="item-img">
            Recursos:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.recursos_naturales" max="10"></progress>
            </div>
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.reservas_recursos" max="10"></progress>
            </div>
        </div>
        <div class="item"><img src="/src/assets/ICONOS/controles/backgroud/"class="item-img">
            Dinero:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.dinero" max="10"></progress>
            </div>
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.reservas_dinero" max="10"></progress>
            </div>
        </div>
        <div class="item"><img src="/src/assets/ICONOS/controles/backgroud/" class="item-img">
            Poblacion:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.poblacion" max="10"></progress>
            </div></div>
        <div class="item"><img src="/assets/ICONOS/controles/backgroud/infres.png" class="item-img">
            Infra:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.infraestructura" max="10"></progress>
            </div>
        </div>
        <div class="item"><img src="/assets/ICONOS/controles/backgroud/educacion.png" class="item-img">Educacion:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.educacion" max="10"></progress>
            </div></div>
        <div class="item"><img src="/assets/ICONOS/controles/backgroud/inever.png"class="item-img">Inv. Interna:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.inversion_interna" max="10"></progress>
            </div></div>
        <div class="item"><img src="/src/assets/ICONOS/controles/backgroud/"class="item-img">Alimentos:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.produccion_interna.alimentos" max="10">{{ status.inversion.produccion_interna.alimentos }}</progress>
            </div>
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.produccion_interna.alimentos_ex" max="10">{{ status.inversion.produccion_interna.alimentos_ex }}</progress>
            </div>
        </div>
        <div class="item"><img src="/assets/ICONOS/controles/backgroud/tecnologia.png" class="item-img">Tecnologia:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.produccion_interna.tecnologia" max="10"></progress>
            </div>
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.produccion_interna.tecnologia_ex" max="10"></progress>
            </div></div>
        <div class="item"><img src="/assets/ICONOS/controles/backgroud/militar.png" class="item-img">Militar:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.produccion_interna.militar" max="10"></progress>
            </div>
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.produccion_interna.militar_ex" max="10"></progress>
            </div></div>
        <div class="item"><img src="/assets/ICONOS/controles/backgroud/servicios.png" class="item-img">Servicios:
            <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.produccion_interna.servicios" max="10"></progress>
            </div>
           <div class="progress-container">
                <progress class="progress-bar" [value]="status.inversion.produccion_interna.servicios" max="10"></progress>
            </div>  </div>
      </div>
</div>