<div class="cont-info">
    <table class="table table-dark">
        <thead>
            <tr>
                <td>
                    <h3>Informacion</h3>
                </td>
                <td colspan="4" style="text-align: right;">
                    Turno: <span class="badge bg-secondary">{{ isla.turno }}</span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td>Poblacion:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
                <td>Infraestructura:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
            </tr>
            <tr class="table-active">
                <td>Servicios:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
            </tr>
            <tr class="table-active">
                <td>Dinero:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
                <td>Reservas de dinero:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
            </tr>
            <tr class="table-active">
                <td>Recursos Naturales:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
                <td>Reservas de recursos:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
              </tr>
              <tr class="table-active"> 
                <td>Educacion:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
                <td>Inversion interna:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
              </tr>
              <tr class="table-active">
                <td>Alimentos:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
                <td>Reservas alimentos:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
              </tr>
              <tr class="table-active"> 
                <td>Mitilar:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
                <td>Reservas Militares:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
              </tr>
              <tr class="table-active">
                <td>Tecnologia:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
                <td>Reservas Tecnologicas:</td>
                <td>
                    <div class="progress-container">
                        <progress class="progress-bar" value="10" max="100"></progress>
                    </div>
                </td>
              </tr>
        </tbody>
    </table>
</div>