.cont-info{
    max-width: 600px;
    width: 80vw;
    z-index: 100;
    border: #333 solid 1px;
    padding: 20px;
    background-color: #333;
    padding: 0px;
}
.progress-container {
    margin-top: 5px;
    margin-top: 5px;
    margin-left: 3%;
    width: 100%;
    height: 10px;
    border: 1px solid #6A68EF;
    border-radius: 5px;
    overflow: hidden;
}
  
.progress-bar {
    height: 100%;
    width: 100%; 
    transition: width 0.5s ease;
}
.progress-bar::-webkit-progress-value {
    background-color:#C04BF2;
}

/* For Firefox */
.progress-bar::-moz-progress-bar {
    background-color:#C04BF2;
}

table{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

td.name{
    width: 100px;
}

td.progress-cont{
    padding: 0px;
    padding-bottom: 10px;
    padding-right: 30px;
}